In [4]:
import numpy as np
a=np.random.random(10)
a
mean= np.mean(a)
mean
median=np.median(a)
median
std=np.std(a)
std

np.float64(0.33143422331099676)

In [10]:
import pandas as pd
a=pd.read_csv('TestMax.csv')
a['Max_Value']=a[['Max1', 'Max2', 'Max3']].max(axis=1)
p=a[['Year1', 'Max_Value']]
p

   Year1  Max_Value
0   2001        101
1   2002        103
2   2003         89
3   2004         91

In [ ]:
merge